<div class="section-title">
  <div class="line"></div>
  <h2>FILMS</h2>
  <div class="line"></div>
</div>

<div class="container-films">
  @if(films.length > 0){
    @for(film of films; track film){
      <div class="film-item">
        <div class="film-image">
          <img [src]="film.imageUrl" alt="{{ film.title }}" class="film-img" style="max-width: 100%;">
        </div>
        <div class="film-details">
          <p>{{film.title}}</p>
          <p>Episode {{film.episode_id}}</p>
        </div>
      </div>
    }
  } @else  {
    <p>No films available.</p>
  }
</div>
