<!-- <div class="container-fondo"> -->
  <div class="container register-form">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div>
      <h4 class="ms-4"><strong>Register to continue</strong></h4>
      <p class="ms-4">Enter your first name, last name, email and password to create an account.</p>
    </div>

      <div class="form-floating mb-3 m-4">
        <input type="text" class="form-control" id="floatingInput" placeholder="name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3 m-4">
        <input type="text" class="form-control" id="floatingInput" placeholder="last name">
        <label for="floatingInput">Last Name</label>
      </div>
      <div class="form-floating mb-3 m-4">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating m-4">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating m-4">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Repeat your password</label>
      </div>
      <div class="form-floating m-4">
      <button type="button" class="btn btn-warning w-100">Register</button>
      </div>
  </div>
<!-- </div> -->
