.container-pilots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #a4a4a4;
  padding: 20px;
  justify-content: center;
}

.pilot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.pilot-image {
  margin-bottom: 2px;
  border-bottom: 2px solid rgb(138, 33, 33);
  width: 80%;
  height: auto;
  border-radius: 50px;
}

.pilot-details {
  text-align: center;
  background-color: #202020;
  width: 80%;
  justify-content: center;
  padding: 8px;
}

.pilot-img{
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  h2 {
    font-size: 20px;
    color: #eaeaea;
    margin: 0;
  }
}

.line {
  flex: 1;
  height: 0.8px;
  background-color: #a4a4a4;
  margin: 0 10px;
}
