.text-home{
  color: #d5d5d5;
}

.home-title{
  color: #d5d5d5;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 180px;
  position: absolute;
  top: 40%;
  text-align: center;
  justify-content: center;
  padding: 40px;
  max-height: 240px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .carousel-caption {
    position: static;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .carousel-caption h2, .carousel-caption p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff;
  }
  .carousel-caption .btn {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  .carousel-caption-container {
    text-align: center;
    padding: 10px;
  }
  .carousel-control-prev, .carousel-control-next {
    top: -240px;
  }
  .carousel-indicators{
    bottom: -48px;
  }

}
